<!DOCTYPE html>
<html>
<head>
<link rel="apple-touch-icon" href="http://gf1.geo.gfsrv.net/cdn68/20da7e6c416e6cd5f8544a73f588e5.png">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Language" content="ru">
<meta name="ogame-session" content="76ca77d31f8c91e2de38f3893eb8ee726a53d2db">
<meta name="ogame-version" content="5.7.8">
<meta name="ogame-version-check-url" content="http://gf2.geo.gfsrv.net/cdna5/4388e60776bc4dd590d41be942c195.js">
<meta name="ogame-timestamp" content="1404299959">
<meta name="ogame-universe" content="s119-ru.ogame.gameforge.com">
<meta name="ogame-universe-speed" content="3">
<meta name="ogame-universe-speed-fleet" content="3">
<meta name="ogame-language" content="ru">
<meta name="ogame-player-id" content="139794">
<meta name="ogame-player-name" content="InDiGo">
<meta name="ogame-alliance-id" content="">
<meta name="ogame-alliance-name" content="">
<meta name="ogame-alliance-tag" content="">
<meta name="ogame-planet-id" content="33751784">
<meta name="ogame-planet-name" content="Главная планета">
<meta name="ogame-planet-coordinates" content="1:37:6">
<meta name="ogame-planet-type" content="planet">
<!--[if (gt IE 9)|!(IE)]><!-->
<link rel="stylesheet" type="text/css" href="/css/5ffab29c8f0fcc85c7136c684f817e.css"
      media="screen">
<!--<![endif]-->
<!--[if lt IE 10]>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdnce/3644b63f8e3ea4a0e40c5d12732863.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdncd/217fe1b59ca76e6fe892f5ab71d6f3.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdnba/9a4260138df4adea89e672c0409aa5.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdn97/303324a83da44bcf1089b01922ef06.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn28/8f50259e0c568d90e1d0710b0f9eba.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn5a/ff69e41ab3a3ce54fcd95e670c2e3f.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdnf1/e240f987a7b2d9d668989fd875b13a.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn8c/133a0be5319837ab0c5021624a991a.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdnfb/ed93ce39f4284adb80587c0e877310.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn51/aa5f2302dae5c0e9142228ef8ada58.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf2.geo.gfsrv.net/cdndb/32b054a20d0f9aa3578a28af00096d.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn20/06ca05fb8d3b4b6d0b22d4d93bd50f.css"
      media="screen"/>
<link rel="stylesheet" type="text/css" href="http://gf1.geo.gfsrv.net/cdncc/ba3c51c0a45c836840d6349cc29c10.css"
      media="screen"/>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/css/1bb1f6f01ede8aebf0e8f0c4084c7c.css"
      media="screen">
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="http://gf3.geo.gfsrv.net/cdn8d/1df6f5ce6b5ac3325cf533ddd9152b.css"
      media="screen"/>
<![endif]-->

<title>Sirius OGame</title>

{% block head_style %}
{% endblock head_style %}
</head>

<body id="overview" class="ogame lang-ru no-commander no-touch">
<div class="contentBoxBody">
<noscript>
    <div id="messagecenter">
        <div id="javamessagebox">
                        <span class="overmark">
                            <strong>Пожалуйста, активируйте JavaScript для продолжения игры.</strong>
                        </span>
        </div>
    </div>
</noscript>
<div id="ie_message">
    <p><img src="/img/e621aa80dbd4746a9f4f114c8d3853.gif" height="16" width="16">Версия
        вашего браузера устарела и может привести к некорректному отображению
        элементов игры . Пожалуйста, обновите ваш браузер до версии: <a href="http://www.microsoft.com/upgrade/">Internet
            Explorer</a> или <a href="http://www.mozilla-europe.org/de/firefox/">Mozilla Firefox</a></p>
</div>
<script src="/js/atrk.js" async="" type="text/javascript"></script>
<script type="text/javascript">isIE = false;</script>
<!--[IF IE]>
<script type="text/javascript">
    isIE = true;
</script>
<![endif]-->

<!-- HEADER -->
<!-- ONET 4 POLAND -->

<div id="boxBG">
<div id="box">
<!-- /box -->
    <a name="anchor"></a>
{% block info %}
 {% endblock info %}
<!-- END HEADER -->

{% block left_menu %}
{% endblock left_menu %}
{% block content %}{{ content|raw }}{% endblock content %}
{% block right_menu %}
{% endblock right_menu %}
{% block java_script %}
{% endblock java_script %}
</div>
<!-- /box -->

</div>
<!-- boxBG -->
</div>
<!-- contentBoxBody -->
{% block footer %}
{% endblock footer %}
{% block mmo_bar %}
{% endblock mmo_bar %}
<div id="decisionTB" style="display:none;">
    <div id="errorBoxDecision" class="errorBox TBfixedPosition">
        <div class="head"><h4 id="errorBoxDecisionHead">-</h4></div>
        <div class="middle">
            <span id="errorBoxDecisionContent">-</span>

            <div class="response">
                <div style="float:left; width:180px;">
                    <a href="javascript:void(0);" class="yes"><span id="errorBoxDecisionYes">.</span></a>
                </div>
                <div style="float:left; width:180px;">
                    <a href="javascript:void(0);" class="no"><span id="errorBoxDecisionNo">.</span></a>
                </div>
                <br class="clearfloat">
            </div>
        </div>
        <div class="foot"></div>
    </div>
</div>

<div id="fadeBox" class="fadeBox fixedPostion" style="display:none;">
    <div>
        <span id="fadeBoxStyle" class="success"></span>

        <p id="fadeBoxContent"></p>
    </div>
</div>

<div id="notifyTB" style="display:none;">
    <div id="errorBoxNotify" class="errorBox TBfixedPosition">
        <div class="head"><h4 id="errorBoxNotifyHead">-</h4></div>
        <div class="middle">
            <span id="errorBoxNotifyContent">-</span>

            <div class="response">
                <div>
                    <a href="javascript:void(0);" class="ok">
                        <span id="errorBoxNotifyOk">.</span>
                    </a>
                </div>
                <br class="clearfloat">
            </div>
        </div>
        <div class="foot"></div>
    </div>
</div>


</body>
</html>