<!-- CONTENT AREA -->
<div id="contentWrapper">
    <div id="eventboxContent" style="display: none"><img
                src="img/3f9884806436537bdec305aa26fc60.gif" height="16" width="16"></div>

    <div id="inhalt">
        <div id="planet"
             style="background-image:url(http://gf1.geo.gfsrv.net/cdnff/05df4f7e0949c840c02a0aee2f30be.jpg);">

            <div id="detailWrapper">
                <div id="header_text">
                    <h2>
                        <a href="javascript:void(0);" class="openPlanetRenameGiveupBox">
                            <p class="planetNameOverview">Обзор -</p>
                        <span id="planetNameHeader">
                            Главная планета                        </span>
                            <img class="hinted tooltip" title="покинуть/переименовать Планета"
                                 src="img/1f57d944fff38ee51d49c027f574ef.gif" height="16"
                                 width="16">
                        </a>
                    </h2>
                </div>
                <div id="detail" class="detail_screen">
                    <div id="techDetailLoading"></div>
                </div>
                <div id="planetdata">
                    <div class="overlay"></div>
                    <div id="planetDetails">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="desc">
                                    <span id="diameterField">Диаметр:</span>
                                </td>
                                <td class="data">
                                    <span id="diameterContentField">12.800км (<span>4</span>/<span>188</span>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="desc">
                                    <span id="temperatureField">Температура:</span>
                                </td>
                                <td class="data">
                                    <span id="temperatureContentField">от 37°C до 77°C</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="desc">
                                    <span id="positionField">Место:</span>
                                </td>
                                <td class="data">
                                    <span id="positionContentField"><a
                                                href="http://s119-ru.ogame.gameforge.com/game/index.php?page=galaxy&amp;galaxy=1&amp;system=37&amp;position=6">[1:37:6]</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="desc">
                                    <span id="scoreField">Очки:</span></td>
                                <td class="data">
                                    <span id="scoreContentField"><a
                                                href="http://s119-ru.ogame.gameforge.com/game/index.php?page=highscore">0
                                            (Место 4.287 из 4.309)</a></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="desc">
                                    <span id="honorField">Очков чести:</span></td>
                                <td class="data ">
                                    <span id="honorContentField">0</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="planetOptions">

                        <div class="planetMoveStart fleft" style="display: inline;">
                            <a class="tooltipLeft dark_highlight_tablet fleft" style="display: inline-block"
                               href="http://s119-ru.ogame.gameforge.com/game/index.php?page=galaxy"
                               title="Перемещает вашу планету на другую позицию в любую систему и галактику.&lt;br /&gt;&lt;br /&gt;
Перемещение произойдет через 24 часа после активации. Все это время вы можете пользоваться своими планетами как обычно. Время, оставшееся до перемещения, будет показано на таймере обратного отсчета.&lt;br /&gt;&lt;br /&gt;
К моменту перемещения флоты этой планеты не должны быть в полете. Ничего не должно строиться или исследоваться. В противном случае перемещение будет отменено.&lt;br /&gt;&lt;br /&gt;
При успешном перемещении будет списано 240.000 Тёмной материи. Луна, постройки и ресурсы будут мгновенно перемещены вместе с планетой. Флоты будут автоматически отправлены на новые координаты со скоростью самого медленного корабля. Ворота на луне будут выключены в течение 24 часов."
                               data-tooltip-button="К галактике">
                                <span class="planetMoveIcons planetMoveDefault icon"></span>
                                <span class="planetMoveOverviewMoveLink">Переселиться</span>
                            </a>
                        </div>

                        <a class="dark_highlight_tablet float_right openPlanetRenameGiveupBox"
                           href="javascript:void(0);">
                            <span class="planetMoveOverviewGivUpLink">покинуть/переименовать</span>
                            <span class="planetMoveIcons settings planetMoveGiveUp icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="buffBar" class="sliderWrapper">
                <div data-uuid="" data-id="" class="add_item"><a class="activate_item border3px"
                                                                 href="javascript:void(0);" ref="1"></a></div>

                <div style="width: 532px; height: 36px;" class="anythingSlider anythingSlider-default activeSlider">
                    <div class="anythingWindow">
                        <ul style="width: 532px; left: 0px;" class="active_items anythingBase horizontal">
                            <li style="width: 532px; height: 36px;" class="panel activePage">
                            </li>
                        </ul>
                    </div>
                    <span style="display: none;" class="arrow back disabled"><a href="#"><span>«</span></a></span><span
                            style="display: none;" class="arrow forward disabled"><a href="#"><span>»</span></a></span>
                </div>
            </div>


        </div>
        <div class="c-left"></div>
        <div class="c-right"></div>
        <div id="overviewBottom">

            <div class="content-box-s">
                <div class="header">
                    <h3>Постройки</h3>
                </div>
                <div class="content">
                    <table class="construction active" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td colspan="2" class="idle">
                                <a class="tooltip js_hideTipOnMobile
                               "
                                   title="В данный момент ничего не строится на этой планете. Нажмите здесь, чтобы попасть в меню Сырье."
                                   href="http://s119-ru.ogame.gameforge.com/game/index.php?page=resources">
                                    Очередь построек пуста!<br>(К ресурсам) </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="footer"></div>
            </div>

            <div class="content-box-s">
                <div class="header"><h3>Исследования</h3></div>
                <div class="content">
                    <table class="construction active" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td colspan="2" class="idle">
                                <a class="tooltip js_hideTipOnMobile
                               "
                                   title="В данный момент ничего не исследуется. Нажмите здесь, чтобы попасть в меню Исследования."
                                   href="http://s119-ru.ogame.gameforge.com/game/index.php?page=research">
                                    Не ведется никаких исследований.<br>(К исследованиям) </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer"></div>
            </div>
            <div class="content-box-s">
                <div class="header"><h3>Верфь</h3></div>
                <div class="content">
                    <table class="construction active" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td colspan="2" class="idle">
                                <a class="tooltip js_hideTipOnMobile
                           "
                                   title="В данный момент на этой планете не строятся корабли или оборона. Нажмите здесь, чтобы попасть в меню Верфь."
                                   href="http://s119-ru.ogame.gameforge.com/game/index.php?page=shipyard">
                                    Корабли/оборона не производятся в данный момент.<br>(К верфи) </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="footer"></div>
            </div>
            <div class="clearfloat"></div>

            <div class="clearfloat"></div>
        </div>
        <!-- #overviewBottom -->
    </div>
</div>
<!-- END CONTENT AREA -->
