<!-- siteFooter -->
<div id="siteFooter">
    <div class="content">
        <div class="fleft textLeft">
            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=changelog"
               class="tooltip js_hideTipOnMobile" title="Последние изменения">
                5.7.8 </a>
            <a class="homeLink" href="http://www.gameforge.de/" target="_blank">©2002 Gameforge Productions GmbH. All
                rights reserved.</a>
        </div>
        <div class="fright textRight">
            <a href="http://tutorial.ogame.de/?lang=ru" target="_blank">Курс обучения</a>|
            <a href="http://board.ru.ogame.gameforge.com/" target="_blank">Форум</a>|
            <a class="overlay" href="http://ogame.ru/main/rules" data-overlay-iframe="true" data-iframe-width="450"
               data-overlay-title="Правила">Правила</a>|
            <a href="http://s119-ru.ogame.gameforge.com/game/pranger.php" target="_blank">Нарушители</a>|
            <a href="http://agbserver.gameforge.com/ruRU-Terms-OGame.html" target="_blank">Контакты</a>
        </div>
    </div>
    <!-- -->
</div>
<!-- /siteFooter -->
