<!-- LEFTMENU -->
<div id="links">

    <ul id="menuTable" class="leftmenu">

        <li>
        <span class="menu_icon">
                            <div class="menuImage overview highlighted"></div>
          	        </span>
            <a class="menubutton  selected" href="http://s119-ru.ogame.gameforge.com/game/index.php?page=overview"
               accesskey="" target="_self">

                <span class="textlabel">Обзор</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=resourceSettings"
                               class="tooltipRight js_hideTipOnMobile" target="_self" title="Производство сырья">
                                <div class="menuImage resources"></div>
                            </a>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=resources" accesskey=""
               target="_self">

                <span class="textlabel">Сырьё</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage station"></div>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=station" accesskey=""
               target="_self">

                <span class="textlabel">Фабрики</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=traderOverview#page=traderResources&amp;animation=false"
                               class="trader tooltipRight js_hideTipOnMobile" target="_self" title="Рынок Ресурсов">
                                <div class="menuImage traderOverview"></div>
                            </a>
          	        </span>
            <a class="menubutton premiumHighligt"
               href="http://s119-ru.ogame.gameforge.com/game/index.php?page=traderOverview" accesskey="" target="_self">

                <span class="textlabel">Скупщик</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=techtree&amp;tab=3&amp;open=all"
                               class="overlay tooltipRight js_hideTipOnMobile" target="_blank" title="Технологии">
                                <div class="menuImage research"></div>
                            </a>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=research" accesskey=""
               target="_self">

                <span class="textlabel">Исследования</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage shipyard"></div>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=shipyard" accesskey=""
               target="_self">

                <span class="textlabel">Верфь</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage defense"></div>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=defense" accesskey=""
               target="_self">

                <span class="textlabel">Оборона</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=movement"
                               class="tooltipRight js_hideTipOnMobile" target="_self" title="Передвижения флота">
                                <div class="menuImage fleet1"></div>
                            </a>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=fleet1" accesskey=""
               target="_self">

                <span class="textlabel">Флот</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage galaxy"></div>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=galaxy" accesskey=""
               target="_self">

                <span class="textlabel">Галактика</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage alliance"></div>
          	        </span>
            <a class="menubutton " href="http://s119-ru.ogame.gameforge.com/game/index.php?page=alliance" accesskey=""
               target="_self">

                <span class="textlabel">Альянс</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <div class="menuImage premium"></div>
          	        </span>
            <a class="menubutton premiumHighligt officers"
               href="http://s119-ru.ogame.gameforge.com/game/index.php?page=premium" accesskey="" target="_self">

                <span class="textlabel">Офицеры</span>
            </a>

        </li>

        <li>
        <span class="menu_icon">
                            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=shop#page=inventory&amp;category=d8d49c315fa620d9c7f1f19963970dea59a0e3be"
                               class="tooltipRight js_hideTipOnMobile" target="_self" title="Инвентарь">
                                <div class="menuImage shop"></div>
                            </a>
          	        </span>
            <a class="menubutton premiumHighligt" href="http://s119-ru.ogame.gameforge.com/game/index.php?page=shop"
               accesskey="" target="_self">

                <span class="textlabel">Снаряжение</span>
            </a>

        </li>

    </ul>


    <div class="adviceWrapper">
        <div id="advice-bar">


            <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=validate"
               class="overlay tooltipHTML tooltipRight advice" title="Не активирован|
		  		        Ваш аккаунт еще не активирован. Чтобы получить новую ссылку для активации нажмите здесь.		    		  "
               data-overlay-modal="true" data-overlay-title="Подтвердить E-Mail адрес">
                <img src="img/09980161fadf11b18189770e1d78d2.gif" height="32" width="32">
            </a>


        </div>
    </div>
    <div id="toolLinksWrapper">
        <ul id="menuTableTools" class="leftmenu"></ul>
    </div>
    <br class="clearfloat">
</div>
<!-- END LEFTMENU -->
