<!-- RIGHTMENU -->
<div id="rechts">

    <div id="norm">
        <div id="myWorlds">
            <div id="countColonies">
                <p class="textCenter">
                    <span>1/1</span> Планеты </p>
            </div>
            <div id="planetList">
                <div class="smallplanet" id="planet-33751784">
                    <a href="http://s119-ru.ogame.gameforge.com/game/index.php?page=overview&amp;cp=33751784"
                       title="&lt;B&gt;Главная планета [1:37:6]&lt;/B&gt;&lt;BR&gt;12.800км (4/188)&lt;BR&gt;от 37°C до 77°C"
                       class="planetlink  tooltipRight js_hideTipOnMobile">
                        <img class="planetPic js_replace2x"
                             src="img/a39518223ab20be9536510771a46d3.png" height="48"
                             width="48">
                        <span class="planet-name  ">Главная план...</span>
                        <span class="planet-koords  ">[1:37:6]</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="banner_skyscraper">
    <a class="tooltipLeft " title="" href="http://s119-ru.ogame.gameforge.com/game/index.php?page=shop">
        <img src="img/1a78ac4cc98d145467f2ffc537b757.jpg" alt="">
    </a>
</div>
<!-- END RIGHTMENU -->
